* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    /* background-color: aqua; */
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
}
nav h1{
    font-size: 1.6vw;
}
.nav-part2{
    display: flex; 
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0 ;
}

.nav-part2 h4{
    font-size: 0.76vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2vw;
}
.nav-part2 h5{
    margin-bottom: 1vw;
}
.nav-part2 h5 span{
    font-size: 0.77vw;
    font-weight: 400;
}
nav:hover #nav-bottom{
    height: 150%;
    bottom: -150%;
    background-color: #111;
}

#nav-bottom{
    /* background-color: aquamarine; */
    height: 0%;
    width: 79%;
    position: absolute;
    transition: all ease 0.65s;
    bottom: 0%;
    border-bottom: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5vw 15vw;
    padding-left: 18.2vw;
    /* padding-top: 6vw; */
}
.bottom-div{
    margin-top: 2vw;
}
.bottom-div h5{
    /* background-color: aqua; */
    margin-bottom: 0.4vw;
    overflow: hidden;
}
.bottom-div h5 span{
    font-size: 0.75vw;
    font-weight: 500;
    display: inline-block;
    opacity: 0;
}
nav button{
    background-color: #0DA34E;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    border-radius: 50px;
    border: none;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
}
nav button svg{
    height: 0.8vw;
    margin-left: 1.6vw;
}
#page1 {
    height: 100vh;
    width: 100%;
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}

#page1 h1 svg{
    height: 6vw;
    border-radius: 50%;
    width: 6vw;
    background-color: #0DA34E;
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-right: 3vh;
}
#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1-something h4{
    font-weight: 400;
    font-size: 1VW;
    text-transform: lowercase;
    margin-top: 0.5vw;
    padding: 5px 10PX;
    border: 1px solid #727171;
    border-radius: 50px;

}
#page1-something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}

#page2 {
    height: 100vh;
    width: 100%;
    background: #111;
}